/* Main CSS for Moderated Edits Extension */

/* general style of revision boxes */
.revision-box {
    padding: 10px;
    margin-bottom: 2em; 
    border: 1px solid #e7e7e7;
}
.revision-box a { cursor: pointer; }

/* Info boxes */
#revision-info { 
    padding: 0; 
    display: none; 
    margin-top: 30px;
}
#revision-info h3 {
    border-bottom: 1px solid #e7e7e7;
}
#revision-info ul { 
    list-style-type: none; 
    text-indent: 0;
    margin: 0;
}
.revision-info-item {
    display: block;
    padding: 10px;
}
#revision-info-moderator { display: none }
#revision-info-link-to-latest { display: none }
#revision-moderator-info { 
    display: none;
    margin-top: 1em;
}

/* Revisions list */
#main .widget-area ul ul { margin: 0; }
#revision-list-widget {
    margin-top: 58px;
    width: 198px;
}
#revision-list-widget div {
    margin-top: 1em; 
}
#revision-list-widget ul {
    list-style-type: none; 
    text-indent: 0;
    margin: 0;
}
#revision-list-widget h3 {
    color: #000;
    margin-bottom: 1em;
}
#revision-list li { width: 165px; }
#revision-list { margin: 0; }
#revision-list button { 
    margin: 0 1em 0 0; 
    padding: 5px 25px 5px 5px;
    vertical-align: middle; 
}
.revision-approved .revision-list-buttons { padding-left: 10px; }
#revision-replace-all-warning { display: none; }
#revision-commit-message { display: none; }
li.revision-approved:before {
    content: "* ";
    color: #b00;
}
.revision-active-match { border: 1px solid #04ae0d; }
.revision-active-nomatch { border: 1px solid #f8dc30; }
li.revision-approved { padding: 10px 25px 10px 5px; }
li.revision-not-approved { padding: 10px 15px 10px 15px; }
.revision-approved-marker { color: #b00; }
#revision-list-new-revision {
    display: none;
}
#revision-list-new-revision li {
    padding: 10px 15px 10px 15px; 
    border: 1px solid #e7e7e7; 
    margin-bottom: 1em;
}
.revision-approved-marker { color: #b00; }

/* Edit form */
#package-edit table { 
    border-spacing: 0px 5px; 
    border-collapse: separate; 
    background-color: #fff;
    border: 0;
}
#package-edit .short { width: 11em; }
#package-edit input, textarea, select { outline: none; }
#package-edit .revision-match { border: 1px solid #04ae0d; }
#package-edit .revision-match-resources { border: 1px solid #04ae0d; }
.shadow { 
    border: 1px solid #f8dc30; 
    padding: 4px;
    margin-bottom: 0.5em;
    display: none;
    width: 30em;
}
.shadow button { margin-top: 1em; }
.shadow textarea { 
    width: 29em; 
    border: none; 
    overflow: auto; 
    resize: none; 
}
.shadow-value-short { width: 11em; }
.shadow-value-medium { width: 25em; }
.resources-shadow td { 
    background-color: #fff;
    vertical-align: middle;
}
#package-edit .resources-shadow td { 
    border: 1px solid #f8dc30; 
    padding-left: 16px;
}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
#package-edit .controls { width: 6em; }
#package-edit td.resources-shadow-added { 
    background-color: #f0f0f0; 
    padding-left: 10px;
}
#package-edit td.resources-shadow-removed { 
    background-color: #f0f0f0; 
    padding-left: 10px;
}
#resources-added { display: none; }
#resources-removed { display: none; }

.extras-dd input { margin-right: 1em; }
