/* Main CSS for Moderated Edits Extension */

/* general style of revision boxes */
.revision-box {
    padding: 10px;
    margin-bottom: 2em; 
    border: 1px solid #e7e7e7;
}
.revision-box a { cursor: pointer; }

/* Info boxes */
#revision-info { 
    padding: 0; 
    display: none; 
}
#revision-info h3 {
    border-bottom: 1px solid #e7e7e7;
}
#revision-info ul { 
    list-style-type: none; 
    text-indent: 0;
    margin: 0;
}
.revision-info-item {
    display: block;
    padding: 10px;
}
#revision-info-moderator { display: none }
#revision-info-link-to-latest { display: none }
#revision-moderator-info { 
    display: none;
    margin-top: 1em;
}

/* Revisions list */
#revision-list-widget div { margin-top: 1em; }
#revision-list-widget h3 {
    color: #000;
    margin-bottom: 1em;
}
#revision-list { margin: 0; }
#revision-replace-all { padding: 4px; margin-left: 2em; vertical-align: middle; }
#revision-replace-all-warning { display: none; }
li.revision-approved:before {
    content: "* ";
    color: #b00;
}
.revision-active-match { border: 1px solid #04ae0d; }
.revision-active-nomatch { border: 1px solid #f8dc30; }
li.revision-approved { padding: 10px 15px 10px 5px; }
li.revision-not-approved { padding: 10px 15px 10px 15px; }
.revision-approved-marker { color: #b00; }

/* Edit form */
#package-edit input, textarea, select { outline: none; }
#package-edit .revision-match { border: 1px solid #04ae0d; }
#package-edit .revision-match-resources-th { border-bottom: 1px solid #04ae0d; }
#package-edit .revision-match-resources { border: 1px solid #04ae0d; }
.shadow { 
    border: 1px solid #f8dc30; 
    padding: 4px;
    margin-bottom: 0.5em;
    display: none;
    width: 30em;
}
.shadow button { margin-top: 1em; }
.shadow textarea { 
    width: 29em; 
    border: none; 
    overflow: auto; 
    resize: none; 
}
